* {
    box-sizing: border-box;
}

.bigNav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00305b;
    z-index: 99999999999999;
    display: none;
}

.bigNav > .top {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1500px;
}

.bigNav > .top > .logo {
    margin-top: 15px;
}

.bigNav > .contents {
    width: 1500px;
    margin: auto;
    margin-top: 200px;
}

.bigNav > .contents > ul {
    display: flex;
    justify-content: space-between;
}

.bigNav > .contents > ul > li > span {
    display: block;
    font-size: 15px;
    color: #39b919;
    font-weight: 500;
    margin-bottom: 29px;
}

.bigNav > .contents > ul > li > h2 > a {
    font-size: 37px;
    color: #466c8f;
    font-weight: 600;
}

.bigNav > .contents > ul > li > ul {
    margin-top: 50px;
}

.bigNav > .contents > ul > li > ul > li > a {
    font-size: 18px;
    opacity: 0.9;
    font-weight: 500;
    color: #fff;

}

.bigNav #firstdiv {
    position: relative;
    top: 0;
}

.bigNav #seconddiv {
    position: relative;
    left: 0;
}

.bigNav #lastdiv {
    position: relative;
    bottom: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 999999999;
    top: -75px;
}

.header_wrap {
    width: 1500px;
    height: 70px;
    margin: 0 auto;
}

.header_wrap > h1 {
    float: left;
    padding-top: 10px;
}

.header_wrap > h1 > a > img {
    height: 35px;
}

.btn_nav {
    margin-top: 15px;
    float: right;
    width: 23px;
    height: 70px;
    padding: 5px 0;
    overflow: hidden;
}

.btn_nav > a {
    width: 100%;
    height: 100%;
    display: block;
}

.btn_nav > a > div {
    width: 23px;
    height: 3px;
    margin: 2px 0px;
    background-color: black;
    float: right;
}

.btn_nav > a > #lastdiv {
    width: 15px;
}

nav > ul {
    text-align: center;
    line-height: 70px;
}

/*line height:줄간격으로 사용, 박스의 글자가 가운데로 위치하게 함. 박스의 높이값과 동일하게 주면 됨.*/


nav > ul > li {
    display: inline-block;
    position: relative;
}

nav > ul > li:hover .depth2 {
    display: block;
}

.depth2 {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    min-width: 100%;
    text-align: left;
    border: 1px solid #dcdcdc;
    padding: 20px 34px;
    box-sizing: border-box;

}


.depth2 > li > a {
    display: block;
    line-height: 40px;
    font-weight: 400;
    color: #646464;
    font-size: 15px;
    white-space: nowrap;

}

.depth2 > li :hover {
    font-weight: bold;
    color: #00305b;
}

nav > ul > li > a {
    display: block;
    color: #000;
    padding: 0 30px;
    font-weight: bold;
}



/***************footer*****************/
footer {
    width: :100%;
    background-color: #000;
}

.footer_wrap {
    width: 1500px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer_wrap>.logo{
    margin-right: 50px;
}

.add {
    font-size: 14px;
    color: #707070;
}
.copy{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.copy > ul {
    color: #707070;
    font-weight: bold;
    display: flex;
    font-size: 14px;
    justify-content: flex-end;

}

.copy > ul > li > a {
    color: #707070;
    display: inline-block;
    text-align: right;
    padding: 0 5px;
}
.copy > ul > li:nth-child(2) > a{
    color: #39b919;
}
.copy > .p {
    font-size: 14px;
    color: #707070;
/*    white-space: nowrap;*/
}






/*******1530px 이하*********/
@media only screen and (max-width: 1500px) {
    .header_wrap {
        width: 100%;
        padding: 0 30px;
    }


    .footer_wrap {
        width: 100%;
        padding: 50px 30px;
    }
    .bigNav > .top {
     width: 100%;
        padding: 0 30px;
}

.bigNav > .contents {
    width: 100%;
    padding: 0 30px;
}
}



/*********1100px 이하****************/
@media only screen and (max-width: 1170px) {
    .footer_wrap{
        flex-direction: column;
    }
    .copy{
        margin: 20px 0;
        text-align: left;
    }
    .add{
        margin: 20px 0;
    }
    .copy > ul {
    justify-content: flex-start;

}
    .bigNav> .contents{
        margin-top: 180px;
    }
    .bigNav> .contents > ul{
        flex-direction: column;
        text-align: center;
        
    }
    .bigNav> .contents >ul>li>h2>a{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .bigNav> .contents >ul>li>h2>a:hover{
        color: #fff;
    }
    .bigNav> .contents >ul>li>span{
        display: none;
    }
    .bigNav> .contents >ul>li>ul{
        display: none;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/*********1000px 이하****************/
@media only screen and (max-width: 1000px) {
    nav {
        display: none;
    }
}

/*********900px 이하****************/
@media only screen and (max-width: 970px) {}


/*********767px 이하****************/
@media only screen and (max-width: 767px) {
}
